<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>description</key>
		<string>图片1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>2</string>
		<key>description</key>
		<string>图片2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3</string>
		<key>description</key>
		<string>图片3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>4</string>
		<key>description</key>
		<string>图片4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>5</string>
		<key>description</key>
		<string>图片5</string>
	</dict>
</array>
</plist>
