<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>intro</key>
		<string>详情3</string>
		<key>name</key>
		<string>名称3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>intro</key>
		<string>详情1</string>
		<key>name</key>
		<string>名称1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>intro</key>
		<string>详情2</string>
		<key>name</key>
		<string>名称2</string>
	</dict>
</array>
</plist>
